/cdms-ext-libs/nbproject/private/
/cdms-auth/nbproject/private/
/cdms-shared/nbproject/private/
/cdms-shared-lib/build/
/dist/
/HesianRemoteServices/nbproject/private/
/cdms-remote-services/build/
/cdms-hessian-services/build/
/cdms-remote-services/nbproject/private/
/cdms-hessian-services/nbproject/private/
/cdms-ui-customer/nbproject/private/
/cdms-ui-statistics/nbproject/private/
/cdms-ui-invoice/nbproject/private/
/cdms-ui-invoice/build/
/cdms-ui-customer/build/
/cdms-ui-statictics/build/